
<%include header%>
<body><div>
   <p id="p1">Follow me</p>>
    <a href="mailto:S534090@nwmissouri.edu" target="_blank" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/in/priyanka-bonam-23189651/" target="_blank" class="fa fa-linkedin"></a>
    <a href="http://instagram.com/priyanka_bonam" target="_blank"class="fa fa-instagram"></a>
    <a href="https://github.com/priyanka411" class="fa fa-Github"></a>  
    <a href="https://bitbucket.org/priyankabonam11" class="fa fa-Bitbucket"></a>
    <!-- <script src="/js/contact.js" type="text/javascript" charset="utf-8"></script> -->
      
<link rel="stylesheet" href="/css/priyanka.css">
<h2 id="p1">Contact Me</h2>
<div class="container">
<form method="POST" action="/contact"role="form">
<label for="firstname">First Name</label>
<input type="text" id="firstname" name="firstname" required maxlength="10" placeholder="Your first name.">
<label for="Email">Email ID</label>
<input type="text" id="Email" name="Email" required maxlength="15" placeholder="Your Email ID">
<label for="subject">Subject</label>
<textarea id="subject" name="subject" required maxlength="50" placeholder="your message" style="height:200px"></textarea>

    <p id="data">Thanks for your feedback</p>
    
<input id="submit" type="submit" value="Submit">
</form>
</div>
</body>