<%include header%>

<div class="container-fluid">
    <body background="images/bg1.jpg">
        <header>
          <h2 class="section-header">Priyanka bonam</h2>
        </header>
        <div class="row">
            <div class="col-md-6">
            <main>
              <article>
                <header>
                  <h2> About me </h2>
                </header>
                <section>
                  <p> I'm Priyanka Bonam from India. I did my engineering in the field of electronics and communications.
                    and have total 5 years of work experience in Ad-operations. My last company was Accenture, where I
                    worked as a Pod lead</p>
                </section>
                <section id="past-section">
                  <header>
                    <h2>Where I was</h2>
                  </header>
                  <ul id="ul1">
                    <li>Worked as Quality lead (managed a team of 6) in Accenture</li>
                    <li>Worked as an Ad operations associate in Mediamint from Feb 2015- March 2016</li>
                    <li>Worked in Adathon as a Ad operations analyst from June 2014-Jan 2015</li>
                    <li>Certified by the Google in DFP (MOBILE and Video)</li>
                  </ul>
                </section>
                <div>
                <section>
                  <header>
                  <h2>Future plans</h2>
                  </header>
                  <p>Wanted to become a Technical account manager and gets an hands on experience in Java</p>
                </section>
              </div>
    
                <aside class="aside-header">
                  <header>
                    <h2> A side note</h2>
                  </header>
                  <p> Without requirements or design, programming is the art of adding bugs to an empty text file.</p>
                </aside>
              </article>
            </main>
          </div>
          <div class="col-md-4">
              <img src="images/mypic.jpg" class="img-circle pull-right" id="image-circle">
          </div>
          <iframe width="400" height="200" src="https://www.youtube.com/embed/mgjnW7Q42Tc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
       </div>
       </div>
    </body>
    